<!--<nav class="navbar navbar-default navbar-static-top navbar-inverse">-->
<!--  <div class="container">-->
<!--    <ul class="nav navbar-nav">-->
<!--      <li >-->
<!--        <a href="/messages"><span class="glyphicon glyphicon-home"></span> Home</a>-->
<!--      </li>-->
<!--      <li >-->
<!--        <a href="/add"><span class="glyphicon glyphicon-plus"></span> Add a message</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--    <ul class="nav navbar-nav navbar-right">-->
<!--      <li class="navbar-right">-->
<!--        <a href="https://devcenter.heroku.com"><span class="glyphicon glyphicon-book"></span> Heroku Dev Center</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 25px">
  <div class="container">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/messages">Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add">Add message</a>
        </li>
    </div>
  </div>
</nav>