<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
<%- include ("../partials/nav.ejs") %>
<div class="container">
<h2>You took the wrong turn!!!!</h2>

        <div class="alert alert-danger" role="alert">
                I can't find what you are looking for. <a href="/messages" class="alert-link">Please go home</a>
        </div>

</form>
</div>

</body>
</html>
